[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
numpy = "*"
tqdm = "*"


[dev-packages]

ipython = "*"
pytest = "*"
"flake8" = "*"
"2060818" = {path = "/home/trevor/code/corridors/cython"}


[requires]

python_version = "3.6"